*{font-family: roboto;
   margin: 0%;
   padding:0%}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 2%;
    box-shadow: -4px 5px 5px  rgb(0 0 0 / 20%) ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}
a{
    margin-left: 7px;
    color: #747474;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: #00b39b;
}
main section img{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 7%;
}
h1 {display: flex;
    align-items: center;
    justify-content: center;
    color: #00b39b;
    margin-top: 2%;}

.paragtaphs {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 3%;
    
   
}
.paragtaphs p { display: flex;
    align-items: center;
    justify-content: center;
    width:25%;
    color: #747474;
    font-weight: bold;
}
.cards{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5%;
   }


.botton{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3%;
    font-weight: bold;
    
    
 }
.botton button{
    border: none;
    border-radius: 10%;
    padding:2%;
    font-size: small;
    font-weight: bold;
}
.model{border-radius: 20%;
padding:1%;
margin: 3%;}
.cards :hover{
    box-shadow: -4px 5px 5px  rgb(0 0 0 / 10%);
}
.model img{ height: 200px; width:100;}
